/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto|Spirax");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

:root {
  --blue: #47668f;
  --brown: #a89289;
  --white: white; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Spirax', cursive;
  text-align: center; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 3.2em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.4em; }

button {
  background-color: var(--blue);
  border: none;
  border-radius: 2px;
  color: var(--white);
  font-family: roboto;
  font-size: .9em;
  letter-spacing: 2px;
  margin-bottom: 0.6em;
  padding: .8em;
  text-transform: uppercase;
  transition: transform 300ms ease-in-out; }

button:hover {
  transform: scale(1.2, 1.2); }

button:focus {
  background-color: var(--white); }

nav ul {
  display: grid;
  align-items: center; }
  nav ul li a {
    color: var(--blue);
    display: block;
    transition: transform 300ms ease-in-out;
    padding: 0.5em; }
  nav ul li a:hover {
    color: var(--brown);
    text-decoration: underline;
    transform: scale(1.4, 1.2); }

header {
  background: url("../img/bride-clouds-daylight-949224.jpg") center center fixed no-repeat;
  background-size: cover;
  height: 90vh;
  display: grid;
  align-content: center; }
  header .title-wrapper {
    align-items: center;
    background-color: rgba(168, 146, 137, 0.2);
    color: var(--white);
    display: grid;
    grid-gap: 20px;
    overflow: auto;
    padding: 1em;
    text-shadow: 1px 1px 0 #282828; }

footer {
  background-color: var(--blue);
  color: var(--white); }
  footer p {
    padding: 0.6em; }
    footer p a {
      color: var(--brown); }
    footer p a:hover {
      color: var(--naranja);
      font-size: 1.1em; }

@media (min-width: 700px) {
  nav {
    height: 10vh; }
    nav ul {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
      nav ul li {
        display: inline;
        padding: 1.2em; }
        nav ul li button {
          margin-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
